body {
  font-family: 'Newsreader', serif;
  background-color: #f0efeb;
}
.jumbotron {
  margin-bottom: 0.8em;
  padding: 2.5em 2em;
  h1{
    font-weight: 400;
  }
}
.container-fluid {
  padding: 2em;
}
.card {
  background-color: transparent;
  img{
    object-fit: cover;
  }
 border: none;
  box-shadow: 4px 4px 1px -3px #cb997e;
}
.card:hover{
  box-shadow: 33px 29px 32px 22px rgba(0,0,0,0.1);
}
