<div class="jumbotron text-center inner-glow-border" style="border: 10px solid #e5383b;">
    <div class="row">
      <div class="col-lg-4 d-flex flex-column">
        <div class="d-flex align-items-start">
          <h1 class="display-6">DEV</h1><h1 class="display-5" style="color: #e5383b;">MZ</h1>
        </div>
        <div class="mt-auto text-left">
          <h2 class="display-6" style="color: white; text-align: left">SOFTWARE<br>ENGINEER</h2>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-center">
        {{ $image := resources.Get "images/orgprofilepic.png" }} {{ with $image }}
        <img src="{{ .RelPermalink }}" alt="my mz img" class="img-fluid circle-border-glow" width="450px" />
        {{ end }}
      </div>
      <div class="col-lg-4 d-flex align-items-start justify-content-end">
        <h2 class="display-6" style="color: #e5383b; text-align: right;">MARIN<br>ZELENIKA</h2>
      </div>
    </div>
</div>



