<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div>
          <h1 class="display-4" style="color: #cb997e">DEV-MZ</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
        {{ $image := resources.Get "images/profile-pic (10).png" }} {{ with $image }}
        <img src="{{ .RelPermalink }}" alt="alpine header" class="img-fluid mr-3" width="130px" />
        {{ end }}
        <div>
          <p>Hi, I'm Marin, web developer</p>
          <p><a href="/my-portfolio">Check out my portfolio</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


