{{ define "main" }}
<div class="container-fluid">
  <div class="row">
{{ range .Site.Taxonomies.categories.web }}
<div class="col-lg-6 col-md-12 col-sm-12">
<div class="card mb-3" onclick="location.href='{{ .RelPermalink }}';" style="cursor: pointer;" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      {{ $image := resources.Get (print "images/" "" .Params.image) }} {{ with $image }}
      <img src="{{ .RelPermalink }}" class="img-fluid rounded-start" style="object-fit: cover; height: 100%;" alt="{{ .Params.title }} image">
      {{ end }}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text">{{ .Params.description }}</p>
        <p class="card-text"><small class="text-muted">{{ .Params.datee }}</small></p>
      </div>
    </div>
  </div>
</div>

</div>
    {{end}}
  </div>
  </div>
{{ end }}